.top{
    width: 950px;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(67, 64, 64);}
#pic{
  border-radius: 200%;
  margin-top: -200px;
  margin-right: 700px;
  margin-left: 100px;
  margin-bottom: -80px;
}
.box1{
    width: 326px;
    /* background-color: rgb(255, 212, 56); */
    padding: 20px;
    /* margin-top: -62px; */

}
.box2{
   width: 484px;
    background-color: rgb(149, 229, 233);
    padding: 50px;
     /* margin-top: -62px; */
}
.container{
    display: flex;
    background-color: rgb(238, 192, 132);
    width: 950px;
}
.whole{
    margin-left: 250px;
}